<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Spring Security Example</title>
</head>
<body>
<!--<h1>User, welcome spring boot security page!</h1>-->
<h1 th:text="'User, ' + ${user.name} + ', welcome spring boot security page!'"/>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Role</th>
        </tr>
        <tr th:each="us : ${user}">
            <td th:text="${us.id}"/>
            <td th:text="${us.name}"/>
            <td th:text="${us.surname}"/>
            <td th:text="${us.age}"/>
            <td th:text="${us.authorities}"/>
        </tr>
    </table>
    <br><br>
    <li sec:authorize="isAuthenticated()" class="nav-item">
        <form class="align-middle" th:action="@{/logout}" method="GET">
            <div class="input-group-prepend">
                <button class="btn btn-secondary btn-sm" type="submit">Выйти</button>
            </div>
        </form>
    </li>
</div>
</body>
</html>
